*{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.imge{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    box-shadow: -10px 6px #506c8654;
    position: relative;
    left: 100px;
    transition: transform .2s; /* Animation */

}
.imge:hover{
    transform: scale(1.2);
}

.icon img{
    width: 50px;
    height: 50px;
    padding: 20px;
    position: relative;
    left: 100px;
}

.text{
width: 800px;
text-align: justify;
line-height: 1.6;
margin-bottom: 10px;
font-size: 20px;
position: relative;
left: 30%;

}
.header{
font-size: 25px;
font-weight:bold;
width: 800px;
position: relative;
left: 30%;
margin: 30px;
}
.textColor{
    color: rgb(204, 44, 44);
}
.blod{
    font-weight: bold;
}
.block{
    float: left;
    margin: 70px;
    position: relative;
    left: 150px;
   
}
.last{
    position: relative;
    left: 200px;

}
.para{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    line-height: 1.6;
    position: relative;
    left: 50px;
    
}