
*{
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #dde3f6;
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

header{
    background-color: #004c84;
    /* background-image: linear-gradient( #1687a7, #57aae6); */
    height: 65px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(122, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.charityname{
    position: relative;
    left: 85px;
    bottom: 53px;
    color: rgb(255, 255, 255);
    font-family: 'Playball', cursive;
    font-size: 27px;
}

ul li a { 
    position: relative; 
} 
ul li a::before { 
    content: ""; 
    width: 0px; 
    height: 2px; 
    background: #037df0; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    transition: .5s; 
} 
/* ul li a:hover::before { 
    width: 50%; 
    transform: translateX(100%); 
}  */


header nav img{
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 0%;
   left: 15px;
   border: rgb(255, 255, 255);
   border-style: solid;
  
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.2);

}

header nav ul li{
    display: inline;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
}
header nav ul{
    text-align: right;
    position: relative;
    right: 30px;
    bottom: 70px;
}

.btn{
    font-family: "Roboto" , sans-serif;
    font-weight: bold;
    /* background: #e00570; */
    width: 110px;
    height: 40px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(250, 250, 250);
    border-radius: 5px;
    /* border-style: solid;
    border-color: #660031; */
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(255, 95, 183, 0.2);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow , transform;
    transition-property: box-shadow , transform;
}

.btn:hover , .btn:focus , .btn:active {
    box-shadow: 0px 0px 20px rgba(255, 161, 213, 0.4);
    -webkit-transform: scale(1.1);
    transform:scale(1.1)
}
nav a:hover{
    color:#ffffff;
    background-color: #f53384;
}

.showNo {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: 0px;
    background-color: rgb(255, 249, 249);
    /* background-image: linear-gradient(to right, rgb(97, 0, 40) , rgb(121, 26, 92)); */

    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.4);
}
.Our-initiatives {
    position :relative;
    margin-top: 150px;
    width: 60%;
    left :280px;
    text-align: center;

}
#headofOur-initiatives{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    /* left: 20px; */
    text-align: center;
    color: #a10144;
    top: 50px;
}
#paraofOur-initiatives{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    top: 60px;
    text-align: center;
    color: #021658;
 
}
.toKnow{
    position: relative;
    width:100%px;
    height:350px;
    text-align: left;
    padding: 30px;
    line-height: 1.4;
    color: rgb(57, 57, 58);
    /* left: 70px; */
    top: 20px;
    background-color: #78c4d4 ;
    box-shadow: 2px 5px 5px 2px rgba(10, 10, 10, 0.4);
    margin-top: 100px;
}

.cont1{
    position: relative;
    width:500px ;
    height:270px ;
    left: 0px;
    font-family: sans-serif;
    /* background-color:#004c84 ; */
    margin-left: 0px;
    margin-bottom: 0px;
  
}

#headofvesion {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    left: 25px;
    color: #016c81;
}

#vesion{
    position: relative;
    font-size: 20px;
   
    left: 25px;
    color: #2d5f69;
}

#headofmassage {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    left: 30px;
    top: 30px;
    color: #016c81; 
}

#ourmassage{
    position: relative;
    font-size: 20px;
    top: 30px;
    left: 25px;
    color: #2d5f69;
}
.cont2{
    width:578px ;
    height:578px ;
    right: 0px;
    /* float: right; */
}

.ourvesion{
    width: 680px;
    height: 410px;
    position: relative;
    left: 640px;
    bottom: 324px;
    padding: 0px;
}

/* .para {
    position: relative;
    font-size: 15px;
    width: 250px;
    height: 250;
   } */
/* 
/* .heartimg{
    background-image: url(/img/CharityAccount-Rebecca.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 0px;
} */ 
.one, .tow{
float: left;
margin: 50px;

margin-top: 150px;
padding: 19px;
height: 300px;
background-color:#1e6a9e;
position: relative;
left: 40px;
bottom: 0px;
color: rgb(248, 248, 248);
line-height: 1;
font-size: 17px;
text-align: center;
font-family: sans-serif;
border-radius: 10px;
}

.buttonone{
    position: relative;
    width: 75%;
    height: 50px;
    /* right: 5px; */
   top: 20px;
   color: rgb(250, 250, 250);
   border-radius: 20px;
   font-size: 21px;
   letter-spacing:2px;
   background-color:#002857 ;

}
.buttonone:hover , .buttonone:focus , .buttonone:active {
    box-shadow: 0px 0px 20px rgba(255, 161, 213, 0.4);
    -webkit-transform: scale(1);
    /* text-transform: uppercase; */
    transform:scale(1)
}
.buttonone:hover{
    color:#ffffff;
    background-color: #ff599e;
}

footer div {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-family: 'Roboto', sans-serif;

}
footer img{
    width: 40px;
    height: 40px;
    padding-left: 20px;
}
footer nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 30px;
    padding-left: 150px;
    line-height: 1.6;
}
footer{
    height: 500px;
    /* background-image: linear-gradient(to right, #f00466 , #580025); */
    /* background-image: linear-gradient( #020202, #000000); */
background-color:  #6e012e;
    margin-top: 150px;
    margin-bottom: 0;

}

footer nav{
    position: relative;
    top: 50px;
}
.finalfooter{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #024775;
    top: 220px;
}
.copy{
    /* text-align: center; */
    position: relative;
    right: 90px;
    top: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.parts{
       position: relative;
       font-family: 'Roboto', sans-serif;
       top: 90px;
    
}
#ourpartners{
  
    font-size: 27px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 2px;
   

}

.partnersimg{
    position: relative;
    width: 125px;
    height: 125px;
    top: 20px;
    background-color: white;
    border: solid white;
    border-radius: 50%;
    padding: 0px;
    margin: 20px;
    /* padding: 25px; */
   

}

.share-button {
    width: 260px;
    height: 80px;
    background: #fdfdfd;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    left: 500px;
    top: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
  }
  .share-button:hover{
    transform: scale(1.1);
  }
  .share-button span{
    position: absolute;
    width: 105%;
    height: 105%;
    background: #024474;
    color: #f1f1f1;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;

  }
  .share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
  }
  .share-button a {
    flex: 1;
    font-size: 26px;
    margin-right: 20px;
    color: #2d3436;
    letter-spacing: 4px;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: .3s linear;
  }
  .share-button:hover a {
    opacity: 1;
    transform: translateX(0);
  }
  .share-button a:nth-of-type(1){
    transition-delay: 1s;
  }
  .share-button a:nth-of-type(2){
    transition-delay: .8s;
  }
  .share-button a:nth-of-type(3){
    transition-delay: .6s;
  }
  .share-button a:nth-of-type(4){
    transition-delay: .4s;
  }


.callusbar {
    position: relative;
    float: left;
    
}

.headofcallus{
    position: relative;
    left: 10px;
    top: 55px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
  
}
footer nav ul li{
    list-style-type: none;
    font-size: 17px;
    color: white;
    /* display: inline; */
    margin:10px;
    font-family: sans-serif;
}
.footernav{
    color: rgb(165, 163, 163);
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
}
footer nav ul{
    text-align: left;
    position: relative;
    left: 2px;
    top:60px;
    
}



.slideshowimgs {
    position: relative;
    width:100%;
    height: 600px; ;
    margin-top: 50px;
    background : url(/img/sadaqah.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* display: flex; */
    /* border-style: solid;
    border-radius: 25px;
    border-width: 10px; */
    /* border-color: rgb(83, 0, 42); */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(122, 0, 0, 0.3);
    /* margin: 50px auto; */
    left : 0px;
    top: 1px;
    bottom: 0 px;
    animation: slide 25s infinite linear;
}
@keyframes slide {
    15%{
        background : url(/img/sadaqah.png);
        visibility: visible;
       
        background-repeat: no-repeat;
    background-size: 100% 100%;

    }
    40%{
        background : url(/img/cancer.png);
        visibility: visible;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    70%{
        background : url(/img/refugees.png);
        visibility: visible;
        background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    100%{
        background : url(/img/syrian-girl-school-child-education.jpg);
        visibility:visible;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

